footer {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#footlinks {
  display: flex;
}

#footlinks > div {
  display: block;
}

#footlinks > div > ul {}

#footlinks > div > ul > li {}

#footlinks > div > ul > li > a {}

/* TODO: Have this stick down to the bottom */
#bottomline {
  margin-left: auto;
  margin-right: auto;
  font-size: 10pt;
  color: #fff;
  background-color: #000;
}

/* That popup for Europeans */
#cookiemodal {
  display: sticky;
  /* TODO: This will need animation */
}

#cookiemodal > h4 {}

#cookiecols {}

#cookieleft {}

#cookieright {}

#cookieright > button {}
