<footer>
  <!-- TODO: columns -->
  <div id="footlinks">
    <div>
      <ul>
        <li><a href="./about">About</a></li>
        <li><a href="./help">Help</a></li>
        <li><a href="./faq">FAQ</a></li>
        <li><a href="./tos">Terms of Service</a></li>
        <li><a href="./disclaimer">Disclaimer</a></li>
        <li><a href="./cookies">Cookie Policy</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="https://github.com/jrcharney/lightniNG"><b>Github</b></a></li>
        <li><a href="https://jrcharney.github.io/">Blog</a></li>
        <li>Discord (coming soon)</li>
        <li>Twitter (coming soon)</li>
        <li>Patreon (eventually)</li>
      </ul>
    </div>
  </div>
  <!-- TODO: bottom line -->
  <div id="bottomline">A <a href="https://www.jrcharney.com/">JRCharney</a> Production &copy; 2020</div>
</footer>
<!-- TODO: Stick this in another component -->
<!-- TODO: Animate this like toast popping out of a toaster -->
<div id="cookiemodal">
  <h4>C is for Cookie, that's good enough for me!</h4>
  <div id="cookiecols">
    <div id="cookieleft">
      <p>Like any website online that uses persistent storage, we use cookies.</p>
      <p>Because some folks in Europe are paranoid and want us to tell you that we do this so that our website works and remembers who you are, here is our disclaimer that says by agreeing to use this website you allow us to let us store a cookie on your computer to remember you the next time you show up so you don't have to log in.</p>
      <p>It's complicated. And I want to write something funny about that in <a href="./cookies">our cookie policy</a> a, which you should probably read to make sure that you understand how cookies work, how we won't sell your data (as if we had the budget to do that).</p>
      <p><b>TLDR: We use cookies, click the button to the right to say you are OK with that.</b></p>
    </div>
    <div id="cookieright">
      <!-- TODO: This button needs some action -->
      <button>OK</button>
    </div>
  </div>
</div>
