<p>Hello, you were probably expecting an application here.</p>
<p>So was I.</p>
<p>I've learned a lot about how to use Node.js better, and I assure you it will lead to an application being here.</p>
<p>It just won't be on September 28, 2020.</p>

<p>Most of my work has been documenting resources, how to write thing better, even how to convert a couple of my Java projects into Node.js project.</p>
<p>What I can guarantee is that there will be an application here before the end of this course.</p>
